.club-box {
    margin-left: 38vw;
    height: 100vh;
    width: 40vw;
    background-color: rgb(251, 247, 247);
    color: #5C5C5C;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}

.club-header-box {
    display: flex;
    padding: 1.5vw  0vw 0vw 0vw;
}

.club-logo{
    width: 10.5vw;
    height: 10.5vw;
}

.club-title-box{
    margin-left: 2vw;
}

.club-title{
    margin-top: 2.6vw;
    font-size: 2.3vw;
}

.club-alias{
    font-size: 1.4vw;
    font-weight: 500;
}

.club-description-box {
    margin-top: 2vh;
}

.club-description-title{
    margin-left: -0.2vw;
    font-size: 1.15vw;
    font-weight: 500;
}

.club-description-text{
    margin-left: 0.5vw;
    font-size: 0.9vw;
}

.club-roles-box{
    margin-top: 2vh;
}

.club-role-title{
    margin-left: -0.2vw;
    font-size: 1.15vw;
    font-weight: 500;
}

.club-role{
    margin-left: 0.5vw;
}

.club-role-name{
    font-weight: 450;
    font-size: 0.9vw;
}

.club-role-description{
    font-size: 0.77vw;
}

.club-events-box{
    margin-top: 2vh;
}

.club-events-title{
    margin-left: -0.2vw;
    font-size: 1.15vw;
    font-weight: 500;
}

.club-event-card{
    margin: 0.5vw 3.5vw 0.5vw 3.5vw;
    background-color: #23B2A4;
    border-radius: 10px;
    color: white;
    padding: 0.2vw 0vw 0.2vw 0vw;
}

.club-event-card-header{
    display: flex;
}

.club-events-card-title{
    width: 28.7vw;
    font-size: 1.25vw;
    font-weight: 500;
    margin: 0px 1vw 0px 1vw
}

.club-events-card-description{
    font-size: 0.88vw;
    margin: 0vw 1vw 0vw 1vw
}

.club-event-card-arrow{
    filter: invert(100%);
}