@media screen and (min-width:600px) {
    .events-title {
        font-size: 48px;
    }

    .events-no-cards {
        font-size: 24px;
    }
}

@media screen and (max-width:600px) {
    .events-title {
        font-size: 29px;
    }

    .events-no-cards {
        font-size: 12px;
    }
}

.events-box {
    position: absolute;
    top: 0vh;
    left: 20vw;
    width: 79vw;
}

.events-title {
    margin: 1em 1em;
    font-weight: bold;
    text-shadow: 5px 5px rgba(0,0,0,0.25);
}

.events-cards {
    margin-top: 8em;
    width: 79vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.events-no-cards {
    font-weight: bold;
}