.transfer-box {
    position: absolute;
    top: 15vh;
    left: 5vw;
    width: fit-content;
    height: fit-content;
    background-color: rgb(251, 247, 247);
    color: #5C5C5C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

.transfer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transfer-selects {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transfer-selects select {
    margin: 0 0.5em;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid #5C5C5C;
    border-radius: 5px;
    color: #5C5C5C;
}

.transfer-selects select:focus {
    outline: none;
}

.transfer-input {
    display: flex;
    flex-direction: row;
}

.transfer-input label {
    font-size: 16px;
    font-weight: normal;
    margin-right: 0.5em;
}

.transfer-input input {
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid #5C5C5C;
    border-radius: 5px;
    resize: none;
    color: #5C5C5C;
    padding: 0.25em 0.5em;
    font-size: 14px;
}

.transfer-input input:focus {
    outline: none;
}

.transfer-body button {
    margin-top: 0.5em;
    background-color: #23B2A4;
}

.transfer-body button:hover {
    background-color: white;
    color: #23B2A4;
    border: 1px solid #23B2A4;
}

.transfer-body button:focus {
    outline: none;
}